@{}
@*     <form method="post" asp-page-handler="Delete" id="myCarDeleteForm">
         <input type="hidden" name="carId" id="carId" />
</form> *@
<form method="post" asp-page-handler="Delete" id="myRecordDeleteForm">
    <input type="hidden" name="recordId" id="recordId" />
</form>
